	.product3_view1_button1{
    /* background: black; */
    left: 291px;
    top: 205px;
    width: 400px;
    height: 190px;
}
	.product3_view1_button2{
    /* background: rgba(0,0,0,.5); */
    left: 136px;
    top: 338px;
    width: 116px;
    height: 96px;
}


.product3_view2_button_return{
    /* background: chartreuse; */
    
    left: 210px;
    width: 600px;
    height: 147px;
}

.product3_view1_popup1{
    background-image:url("images/product_tyzorets/features_popup.png"); 
    background-size:1024px 704px;
}
